//Font Colors
$black: #2d2d2d;
$main_font_color: #504e4b;
$font_light_grey: #8c877f;
$font_grey: #2c2d2d;
$font-green: #4caf50;
$font-dark-blue: #3f51b5;
$font-orange: #ffa000;

//Fonts Variables
$helvetica-roman: 'Helvetica Neue LT Std Roman';
$helvetica-medium: 'Helvetica Neue LT Std Medium';
$helvetica-medium-condensed: 'Helvetica Neue LT Std Medium Condensed';
$helvetica-bold: 'Helvetica Neue LT Std Bold';
