@import "compass";
@import "../pages/mixin/common";
@import "../plugins/bootstrap/bootstrap/_variables.scss";
@import "../plugins/bootstrap/bootstrap/mixins/_grid-framework.scss";
@import "../plugins/bootstrap/bootstrap/mixins/_grid.scss";
@import "../plugins/font-awesome/font-awesome.scss";
.talent-content{
  margin-top: 150px;
}
/**section-search begin*/
.section-search {
  .search-bar {
    padding: 0 10%;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    background-color: #f6f6f6;
    ul {
      li {
        @include inline-block;
        @include reset-list-style;
        margin-left: 7px;
        a {
          @include common-color-link(#000);
          @include a-none;
        }
      }
    }
  }
}
/**section-search end*/

/**lect-conten beign*/
.left-content {
  display: table-cell;
  width:150px;
  padding-top: 40px;
  @include  make-md-column(2);

  .input-group{
    border-radius: 0;
    width: 100%;
    .btnsearch{
      border-radius: 0;
    }
  }
  .btn-block{
    margin:15px 0;
    background-color: black;
    width: 100%;
    border-radius: 0;
    font-size: 12px;
  }
  .selected{
    font-size: 14px;
    font-weight: bold;
  text-align: center;
  }
  .filters{
    padding: 10px 20px 0 0;
    font-size: 14px;
    font-weight: bold;
    text-align: right;
  }
    .side {
      line-height: 20px;
      text-align: right;
      color: gray;
    dd {
      padding-right: 10px;
      .all {
        color: #000;
      }
      a {
        text-decoration: none;
        @include common-color-link(gray);
      }
    }
    }
  }
/**right-content begin*/
.right-content{
  @include make-md-column(10);
  display: table-cell;
  padding-top:40px;
.image{
  @include  make-xs-column(6);
  @include  make-sm-column(3);
  @include  make-md-column(2);
}
}
/**right-content end*/


