@import "compass";
@import "../pages/mixin/common";
@import "../plugins/bootstrap/bootstrap/_variables.scss";
@import "../plugins/bootstrap/bootstrap/mixins/_grid-framework.scss";
@import "../plugins/bootstrap/bootstrap/mixins/_grid.scss";
@import "../plugins/font-awesome/font-awesome.scss";
.all {
  .back {
    padding: 150px 0 0 15%;
    a {
     @include common-color-link(#000);
      font-size: 12px;
    }
  }
}
@mixin height {
  color: black;
  padding-bottom: 20px;
}
.all{
  .content {
    border-top: 1px solid gainsboro;
    padding: 20px 15%;
    .centercontent {
      .name {
    font:18/22px;
      }
      .detail {
        color: darkgray;
        line-height: 40px;
        padding-top: 40px;
        .lefts {
          line-height: 20px;
          .height {
           @include height;
          }
        }
        .rights {
          line-height: 20px;
          .height {
          @include  height;
          }
        }
      }
    }
    .btnprint{
      padding: 120px 0 0 5%;
      a{
        background-color: #f6f6f6;
      }
      :hover{
        background-color: black;
        color: white;
      }
      .print{
        width: 200px;
        height: 30px;
        border-radius: 0;
      }
    }
  }
}
