@import "compass";
@import "../plugins/bootstrap/bootstrap/_variables.scss";
@import "../plugins/bootstrap/bootstrap/mixins/_grid-framework.scss";
@import "../plugins/bootstrap/bootstrap/mixins/_grid.scss";
@import "../plugins/font-awesome/font-awesome.scss";
.talent-content{
  padding:10px 10%;
}
.profile {
  @include make-row();
  /*photos*/
  .panel-photos {
    @include  make-md-column(4);
    margin-bottom: 150px;
    .carousel {
      width: 250px;
      height: 312px;
      .carousel-indicators-help{
        position: absolute;
        bottom: -68px !important;
        width: 100%;
        height: 62px;
        overflow: hidden;
      }
      .carousel-indicators {
        position: absolute;
        left: 0;
        top:0;
        margin-left: 0 !important;
        width: 999px;
        height: 62px;
        overflow: hidden;
        text-align: left;
        li {
          @include border-radius(0, 0);
          float: left;
          margin: 0 2px 0 0;
          width: 50px;
          height: 62px;
          text-indent: 0;
          border: none !important;
          @include opacity(0.5);
          &.active{
            margin: 0 2px 0 0;
            @include opacity(1);
          }
          &:hover{
            @include opacity(1);
          }
          img{
            width: 50px;
            height: 62px;
          }
        }
      }
      .carousel-control{
        background: none;
        font-size: 20px;
      }
      .carousel-large{
        position: absolute;
        bottom: 5px;
        right: 5px;
        @include opacity(0.5);
        color: #fff;
        font-size: 20px;
        &:hover{
          @include opacity(1);
        }
      }
    }
  }
  /*info*/
  .panel-info {
    @include make-md-column(5);
    .statistics {
      @include make-row();
      dl {
        @include make-sm-column(6);
      }
    }
    /*buttons*/
    .panel-buttons{
      @include  make-md-column(3);
    }
  }
}
