@import "compass";
@import "../plugins/bootstrap/bootstrap/_variables.scss";
@import "../plugins/bootstrap/bootstrap/mixins/_grid-framework.scss";
@import "../plugins/bootstrap/bootstrap/mixins/_grid.scss";
@import "../plugins/font-awesome/font-awesome.scss";

/*search section begin */
.section-search{
  .search-bar{
    padding:0 10%;
    height:30px;
    line-height:30px;
    overflow:hidden;
    background-color:#f6f6f6;

  }
  .search-filter-head{
    padding:10px 10%;
    overflow:hidden;
    border-bottom:solid 1px #efefef;
    a:first-child{
      font-size:14px;
      line-height:30px;
      text-transform:uppercase;
      @include hover-link;
    }
    .input-group{
      width:300px;
      @media(max-width:768px){
        width:50%;
      }
    }

  }
  .search-filters{
    padding:10px 10%;
    .filter{
      margin-bottom:5px;
      @include make-xs-column(6);
      @include make-sm-column(4);
      @include make-md-column(3);
    }
    .submit{
      @include make-xs-column(6);
      @include make-xs-column-offset(6);
      @include make-sm-column(4);
      @include make-sm-column-offset(8);
      @include make-md-column-offset(9);
      @include make-md-column(3);
    }
  }
}
/*search section end*/

/* gallery begin */
.section-list{
  padding:20px 5%;
  .artist{
    margin-bottom:15px;
    @include inline-block();
    @include make-xs-column(6);
    @include make-sm-column(4);
    @include make-md-column(3);
    .info {
      padding-top: 5px;
      .artistName {
        @include inline-block();
        @include ellipsis();
        text-transform: uppercase;
        max-width: 50%;
      }
      .profile-icon {
        margin: 5px 8px 0 0;
        @include inline-block();
        color: #000;
        cursor: pointer;
        font-size: 14px;
        @include opacity(0.7);
        &:hover{
          @include opacity(0.9);
        }
      }
    }
  }

}
/* gallery end */
