<!DOCTYPE html>
<html lang="en-au">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title></title>
    <link rel="stylesheet" href="../../styles/all.css">
    <link rel="stylesheet" href="../../styles/pages/detail.css?v=002" />
    <script src="../../js/vendor/jquery/jquery-1.9.1.min.js"></script>
    <script src="../../js/vendor/bootstrap/bootstrap.min.js"></script>
    <script src="../../js/vendor/blueimp-gallery/js/jquery.blueimp-gallery.min.js"></script>
    <script src="../../js/vendor/AngularJS/angular.js"></script>
    <script src="../../js/vendor/AngularJS/angular-sanitize.js"></script>
    <script src="../../js/vendor/videoJs/video.min.js"></script>
    <script src="../../js/app/app.js"></script>
    <script src="../../js/app/directives/artist.js"></script>
    <script src="../../js/app/directives/embedSrc.js"></script>
    <script src="../../js/app/services/artistService.js"></script>
    <script src="../../js/app/controllers/artistDetailController.js"></script>
    <script src="../../js/app/filters/trusted.js"></script>
    <script src="../../data/statistics.json"></script>
    <link rel="stylesheet" href="../../js/vendor/blueimp-gallery/css/blueimp-gallery.min.css" />
    <link rel="stylesheet" href="../../js/vendor/videoJs/video-js.min.css" />
    <script>
        jQuery(document).ready(function(){
            angular.bootstrap(document,["talent"]);
            jQuery('.carousel').on('slide.bs.carousel', function (arg) {
                // do something…
                var indicators = jQuery(".carousel-indicators");
                var width = parseInt(jQuery(".carousel").width());
                var left = parseInt(indicators.css("left"));
                var index = jQuery(".carousel .carousel-indicators li.active").data("slide-to");
                var count = jQuery(".carousel .carousel-indicators li:last").data("slide-to");
                if(arg.direction === "left" ) {
                    if (index == count && left < 0) {
                        indicators.animate({left: 0});
                    }
                    else if ( (index + 2 ) * 52 > width) {
                        indicators.animate({left: left - 50});
                    }
                }else{
                    if (index == 0 && left >= 0) {
                        indicators.animate({left: (count-Math.floor(width/52)) * -70});
                    }
                    else if (left < 0) {
                        var left = left + 50;
                        if(left > 0) left = 0;
                        indicators.animate({left: left});
                    }
                }
            })

            jQuery(".carousel .carousel-large").click(function(){
                var options = jQuery('#blueimp-gallery').data();
                options.index = jQuery(".carousel .carousel-indicators li.active").data("slide-to");
                return blueimp.Gallery($(".carousel-indicators a"), options);
            });

            //videojs("videoShowreel",{"controls":true,"autoplay":true,"preload":"auto"})
        });
    </script>
</head>
<body>
<div class="talent-content" ng-controller="artistDetailController" ng-init="init()">
    <div class="container-fluid">
        <div class="profile">
            <div class="panel-photos">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <!-- Wrapper for slides -->
                    <!--
                    <div class="carousel-inner" role="listbox">
                        <div class="item" ng-repeat="image in profile.ImageList" ng-class="{active:$first}">
                            <img src="http://app.at2casting.com/au/upload/photo/{{image}}h.jpg" alt="artist">
                        </div>
                    </div>
                    -->
                    <!-- Indicators -->
                    <!--
                    <div class="carousel-indicators-help">
                        <ul class="carousel-indicators">
                            <li data-target="#carousel-example-generic" data-slide-to="{{$index}}"
                                ng-repeat="image in profile.ImageList" ng-class="{active:$first}">
                                <img src="http://app.at2casting.com/au/upload/photo/{{image}}m.jpg"  class="img-responsive">
                                <a href='http://app.at2casting.com/au/upload/photo/{{image}}j.jpg' title='' data-gallery></a>
                            </li>
                        </ul>
                    </div>
                    -->
                    <!-- Controls -->
                    <!--
                    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev" title="Previous">
                        <span class="glyphicon glyphicon-chevron-left fa fa-chevron-circle-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next" title="Next">
                        <span class="glyphicon glyphicon-chevron-right fa fa-chevron-circle-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                    -->
                    <a class="carousel-large" href="#blueimp-gallery" role="button" title="View Large Image">
                        <span class="fa fa-search-plus" aria-hidden="true"></span>
                        <span class="sr-only">Large</span>
                    </a>
                </div>
            </div>
            <div class="panel-info">
                <h3 class="name">{{ profile.FirstName}} {{profile.LastName}}</h3>
                <span class="comm">{{profile.ArtistType}}</span>
                <div class="statistics" >
                    <dl ng-repeat="item in profile.Statistics">
                        <dt>{{item.Name}}</dt>
                        <dd>{{item.Value}}</dd>
                    </dl>
                </div>
            </div>
            <div class="panel-buttons">
                <button class="btn btn-default" role="button">PRINT PROFILE</button>
                <button class="btn btn-default" role="button">SHOW COMPCARD</button>
                <button class="btn btn-default" role="button" ng-click="showVideos()" ng-show="profile.VideoList.length > 0">Videos</button>
                <button class="btn btn-default" role="button" ng-click="showAudios()" ng-show="profile.AudioList.length > 0">Audios</button>
            </div>
        </div>
    </div>

    <div class="section-resume">
        <div class="clearfix resume-header">
            <h2 class="pull-left">Resume</h2>
            <a class="pull-right btn btn-info" href="{{profile.ResumeFullPath | trusted}}" download>Download Resume</a>
        </div>
        <div ng-show="profile.CreditResume.length > 0">
            <div ng-repeat="section in profile.CreditResume" >
                <ng-include src="'../../View/partial/_resumesection_'+ (section.IsParagraph?'p':'t') + '.html'"></ng-include>
            </div>
        </div>
        <div ng-show="profile.CreditResume.length == 0 && profile.ResumeFullPath.length > 0" >
            <embed width="100%" height="700" embed-src="{{profile.ResumeFullPath | trusted}}" />
        </div>
    </div>
    <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
        <div class="slides"></div>
        <h3 class="title"></h3>
        <a class="prev">‹</a>
        <a class="next">›</a>
        <a class="close" title="Close The Gallery">×</a>
        <a class="play-pause"></a>
        <ol class="indicator"></ol>
    </div>

    <div class="modal fade no-header" id="modalResumeVideo" tabindex="-1" role="dialog" aria-hidden="true" >
        <div class="modal-dialog modal-lg">
            <a class="close" data-dismiss="modal">&times;</a>
            <div class="modal-content">
                <div class="modal-body">
                    <video id="creditVideo" class="video-js video-js-video">
                    </video>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade no-header" id="modalResumeAudio" tabindex="-1" role="dialog" aria-hidden="true" >
        <div class="modal-dialog">
            <a class="close" data-dismiss="modal">&times;</a>
            <div class="modal-content">
                <div class="modal-body">
                    <audio id="creditAudio" class="video-js video-js-audio">
                    </audio>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade custom-dialog" id="modalVideoShowreel" tabindex="-1" role="dialog" aria-hidden="true" >
        <div class="modal-dialog modal-lg">
            <a class="close" data-dismiss="modal">&times;</a>
            <div class="modal-video-content container-fluid">
                <div class="row">
                    <div class="video-player">
                        <video id="videoShowreel" class="video-js video-js-video">
                        </video>
                    </div>
                    <div class="video-list">
                        <h3>Playlist</h3>
                        <span>{{profile.VideoList.length}} items</span>
                        <div class="play-list">
                            <ul>
                                <li ng-repeat="video in profile.VideoList" data-src="{{video.VideoPath | trusted}}" ng-click="playVideo($index)" ng-class="{active: $index==videoIndex}">
                                    <span class="play"></span><span class="index">{{$index + 1}}</span><h5>{{video.Description}}</h5>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade custom-dialog" id="modalAudioShowreel" tabindex="-1" role="dialog" aria-hidden="true" >
        <div class="modal-dialog">
            <a class="close" data-dismiss="modal">&times;</a>
            <div class="modal-audio-content">
                <div>
                    <audio id="audioShowreel" class="video-js video-js-audio">
                    </audio>
                </div>
                <h3>Playlist</h3>
                <span>{{profile.AudioList.length}} items</span>
                <div class="play-list">
                    <ul>
                        <li ng-repeat="audio in profile.AudioList" data-src="{{audio.AudioPath | trusted}}" ng-click="playAudio($index)" ng-class="{active: $index==audioIndex}">
                            <span class="play"></span><span class="index">{{$index + 1}}</span><h5>{{audio.Description}}</h5>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>