<!DOCTYPE html>
<html lang="en-au">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <title></title>
    <link rel="stylesheet" href="../styles/all.css">
    <link rel="stylesheet" href="../styles/pages/standard.css" />
    <link rel="stylesheet" href="../js/vendor/jquery.selectBoxIt/jquery.selectBoxIt.css" />
    <script src="../js/vendor/jquery/jquery-1.9.1.min.js"></script>
    <script src="../js/vendor/AngularJS/angular.js"></script>
    <script src="../js/app/app.js"></script>
    <script src="../js/app/services/artistService.js"></script>
    <script src="../js/app/controllers/artistDetailController.js"></script>
    <script>
        $(document).ready(function(){
            angular.bootstrap(document,["talent"]);
        })

    </script>
</head>
<body>
<div ng-controller="artistDetailController" ng-init="init()">

</div>
</body>
</html>